body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(188, 188, 234);
}
#root{
    display: grid;
    align-items: center;
    justify-content: center;
}
h1,label,input,textarea,button,span{
    font-family: 'Roboto', sans-serif;
}